<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control datepicker" placeholder="Start Date" data-provide="datepicker" ng-model="startdate" ng-init="startdate='2015-11-10'">
    <input type="text" class="form-control datepicker" placeholder="End Date" data-provide="datepicker" ng-model="enddate" ng-init="enddate='2015-11-20'">
    <button type="submit" class="btn btn-default" ng-click="refresh()">Refresh</button>
  </div>
</form>
<div id="chart"></div>
<script>
$('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-3d'
})
</script>
