<div>
  <div class="row">
    <div class="col-md-5">
      <form class="form-inline">
        <div class="form-group">
          <label>Chart Update interval (in sceonds)</label>
          <input type="text" class="form-control interval-time" placeholder="Interval" ng-model="intervaltime" ng-init="intervaltime=getDefaultInterval()">
        </div>
      </form>
    </div>
    <div class="col-md-7 text-right">
      <button ng-show="!chartInterval" type="submit" class="btn btn-default" ng-click="play()">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <button ng-show="chartInterval" type="submit" class="btn btn-default" ng-click="pause()">
        <span class="glyphicon glyphicon-pause"></span>
      </button>
      <button type="submit" class="btn btn-default" ng-click="clear()">
        <span class="glyphicon glyphicon-repeat"></span>
      </button>
    </div>
  </div>
  <div id="rtchart"></div>
  <h4>Currently {{counter}} Devices</h4>
  <table class="table table-condensed" >
    <tr>
        <th>Mac Address</th>
        <th>First Time Seen</th>
        <th>Last Time Seen</th>
        <th>Signal Strength</th>
    <tr>
    <tr ng-repeat="device in devices">
      <td>{{device.mac}}</td>
      <td>{{device.firsttime.getHours()}}:{{device.firsttime.getMinutes()}}:{{device.firsttime.getSeconds()}} - {{device.firsttime.getDay()}}.{{device.firsttime.getMonth()+1}}.{{device.firsttime.getFullYear()}}</td>
      <td>{{device.lasttime.getHours()}}:{{device.lasttime.getMinutes()}}:{{device.lasttime.getSeconds()}} - {{device.lasttime.getDay()}}.{{device.lasttime.getMonth()+1}}.{{device.lasttime.getFullYear()}}</td>
      <td>{{device.signal_dbm}}</td>
    </tr>
  </table>

</div>
